.full-one-img {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  margin-bottom: 5px;
}

.full-one-img-text {
  text-align: center;
  display: block;
}

.content .entry-content h1 a,
.content .entry-content h2 a,
.content .entry-content h3 a,
.content .entry-content h4 a,
.content .entry-content h5 a {
  color: #00f !important;
}
